<div id="guests-leader" class="jumbotron text-center">
  <div class="container">
    <h1>RSVP</h1>
    <p class="leader-date">
      <%= t :wedding_date %>, <%= t :wedding_location %>
    </p>
  </div>
</div>
