<section id="welcome-index-wedding-plan-leader" class="jumbotron text-center">
  <div class="container">
    <h1>The Plan</h1>
  </div>
</section>
<section id="welcome-index-wedding-plan">
  <div class="container">
    <div class="row">
      <div class="offset-md-3 col-md-6">
        <h2>Itinerary</h2>
        <p><strong>4:00pm</strong> &mdash; Guestbook signing</p>
        <p><strong>4:30pm</strong> &mdash; Wedding ceremony</p>
        <p><strong>5:00pm</strong> &mdash; Cocktail hour</p>
        <p><strong>6:00pm</strong> &mdash; Dinner reception</p>
        <p><strong>7:00pm</strong> &mdash; Toasts</p>
        <p><strong>8:00pm</strong> &mdash; Cutting of the cake!</p>
        <p><strong>11:00pm</strong> &mdash; Bar closes</p>
        <p><strong>Dress code</strong> is formal.</p>
        <h2>Gifts &amp; Cards</h2>
        We will be accepting cards and cash gifts at the wedding. You are also invited to sign our guestbook.

        <h2>Menu</h2>
        <p><strong>Starter</strong> &mdash; earth harvest beets with grilled peaches
        gorgonzola crumbles crushed caraway &amp arugula with balsamic drizzle</p>
        <p><strong>Main</strong> &mdash; </p>
        <p>seared chicken breast supremes stuffed with boursin, okanagan peaches, sauteed kale - napped with crushed innocence cream sauce, <br><em>OR</em><br>
        miso glazed wild pacific salmon, bacon &amp corn succotash, <br><em>OR</em><br>
        beet &amp sunflower seed terrine with caramelized onion - smoked paprika chili chutney</p>
        <p><em>AND</em>
        <br>herb roasted bc potato &amp; roasted season peak vegetable </p>        
        <p><strong>Dessert station</strong> &mdash; 
        fresh blueberry &amp lemon tart, key lime tart with blackberry mirrior, tiramisu cannoli, chocolate profiterole, chocolate truffles (white chocolate peach or salted caramel dark), chocolate panna cotta cream cup</p>
        <p><strong>Children&apos;s Menu</strong>: ooey gooey mac & cheese.</p>
        <!--
        <ul class="list-unstyled">
          <li><small><sup>*</sup> vegan and gluten free </small></li>
          <li><small>&dagger; tbd</small></li>
          <li><small>&ddagger; tbd</small></li>
          <li><small><sup>&sect;</sup> tbd</small></li>
        </ul>
        -->
        <p>The venue is making every effort to cater for dietary preferences, as indicated in your RSVPs.</p>
        <h2>RSVPs</h2>
        <p>Please RSVP as soon as possible, so we know who is coming and can make sure we save you a seat! If it turns out you can’t make it, please let us know as soon as you can.</p>
      </div>
    </div>
  </div>
</section>
