<a id="plan"></a>
<section id="welcome-index-wedding-plan-leader" class="jumbotron text-center">
  <div class="container">
    <h1>The Plan</h1>
  </div>
</section>
<section id="welcome-index-wedding-plan">
  <div class="container">
    <div class="row">
      <div class="offset-md-3 col-md-6">

        <h2><a id="itinerary">Itinerary</a></h2>
        <p><strong>4:00pm</strong> &mdash; Guestbook signing</p>
        <p><strong>4:30pm</strong> &mdash; Wedding ceremony</p>
        <p><strong>5:00pm</strong> &mdash; Cocktail hour</p>
        <p><strong>6:00pm</strong> &mdash; Dinner reception starts</p>
        <p><strong>8:30pm</strong> &mdash; Cutting of the cake!</p>
        <p><strong>11:00pm</strong> &mdash; Bar closes</p>
        <p><strong>Dress code</strong> is semi-formal. Dark suit with tie, formal summer dress, or cocktail dress are recommended.</p>

        <h2><a id="menu">Menu</a></h2>
        <p><strong>Starter</strong> &mdash; earth harvest beets with grilled peaches, and arugula with
        feta crushed caraway &amp balsamic drizzle</p>
        <p><strong>Pasta</strong> &mdash; 
        butternut squash ravioli</p>
        <p><strong>Main</strong></p>
        <p><em>Chicken</em> &mdash; 
        seared chicken breast supremes stuffed with boursin, okanagan peaches, sauteed kale - napped with crushed innocence cream sauce, <em>OR</em><br>
        <em>Fish</em> &mdash; 
        miso glazed wild pacific salmon, candied salmon &amp corn succotash, <em>OR</em><br>
        <em>Vegan</em> &mdash; 
        beet &amp sunflower seed terrine with caramelized onion - smoked paprika chili chutney</p>
        <p><em>AND</em> herb roasted bc potato &amp; roasted season peak vegetable </p>
        <!-- <p><strong>Children&apos;s Menu</strong> &mdash; ooey gooey mac & cheese.</p> -->
        <p><strong>Dessert station</strong> &mdash; 
        fresh blueberry &amp lemon tart, key lime tart with blackberry mirrior, tiramisu cannoli, chocolate profiterole, chocolate truffles (white chocolate peach or salted caramel dark), chocolate panna cotta cream cup</p>

        <!--
        <ul class="list-unstyled">
          <li><small><sup>*</sup> vegan and gluten free </small></li>
          <li><small>&dagger; tbd</small></li>
          <li><small>&ddagger; tbd</small></li>
          <li><small><sup>&sect;</sup> tbd</small></li>
        </ul>
        -->

        <h2><a id="gifts">Gifts &amp; Cards</a></h2>
        We will be accepting cards and cash gifts at the wedding. We also invited you to sign our guestbook.

        <h2><a id="thanks">Thank you!</h2>
        <p>Thank you for your RSVPs. We are excited to see you on our big day!
        <p>In the meantime, check out our <a href="#favs">recommendations</a> for eats and attractions around Vancouver, and the <a href="#moments">photo gallery</a> we put together highlighting some fun moments in our life.</p>

      </div>
    </div>
  </div>
</section>
