<section id="welcome-index-venue-leader" class="jumbotron text-center">
  <a id="venue"><div class="container">
    <h1>The Venue</h1>
  </div></a>
</section>
<section id="welcome-index-venue">
  <div class="container">
    <div class="row">
      <div class="offset-md-3 col-md-6">
        <h2><a id="directions">How do I get there?</a></h2>
          <p>The venue is located on the edge of Stanley Park overlooking the Vancouver Harbour and Downtown Skylines.</p>
          <p>To get here by Transit:
          <ol>
            <li>Take the SkyTrain to Waterfront Station;</li>
            <li>Transfer to bus number 19 westbound at stop <em>"WB West Pender St @ Granville St";</em></li>
            <li>Get off the bus at stop <em>"WB Stanley Park Dr @ Pipeline Rd";</em></li>
            <li>The venue is 2 minute walk eastward on Stanley Park Drive.</li>
          </ol></p>
          <p>To get here by Car:          
          <ol>
            <li>Follow driving direction to Vancouver downtown;</li>
            <li>Drive westbound on West Georgia St (Hwy 99), follow sign for <em>"Stanley Park"</em> right before you enter Stanley Park area;</li>
            <li>Approach the roundabout as you enter Stanley Park, take the first right to Stanley Park Drive;</em></li>
            <li>Drive slightly past the venue for the closest parking lot at the <%= link_to "Stanley Park Information Booth", @google_maps_parking_url, target: :_blank, rel: "noopener" %>.</li>
          </ol></p>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10712.71771340729!2d-123.14383875965711!3d49.29653684103181!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x548671ed6df00b2f%3A0x102c74c75069c196!2sVancouver%20Rowing%20Club!5e0!3m2!1sen!2sca!4v1634427533919!5m2!1sen!2sca" width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>
    </div>
  </div>
</section>
