/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *
 *= require blueimp-gallery-all
 *
 */
 
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Arvo:400');

@font-face {
  font-family: 'GreatVibes';
  src: asset-url("Great_Vibes/GreatVibes-Regular.ttf")
}

$font-family-sans-serif: Montserrat, Helvetica, Arial, sans-serif;
$font-family-serif: Arvo, Georgia, "Times New Roman", Times, serif;

$font-family-base: $font-family-serif;
$headings-font-family: $font-family-sans-serif;

$body-color: rgba(28, 13, 10, 0.7);
$headings-color: rgba(28, 13, 10, 0.7);

$theme-colors: (
  "primary": #0a2980
);

$enable-rounded: false;

@import "bootstrap";
@import "guests";
@import "welcome";

h1 {
  font-family: GreatVibes;
  font-weight: 700;
  font-size: 80px;
  font-weight: 400; //400 for normal, 700 bold, 
  letter-spacing: 0.0833333em;
  letter-spacing: 0.0833333em;
  text-transform: uppercase;
  text-transform: none;
}

h2 {
  color: theme-color("primary");
  font-size: 28px;
  font-weight: 700;
  line-height: 1.5em;
  letter-spacing: 0.0833333em;
  text-transform: uppercase;

  svg {
    fill: currentColor;
    margin: 0 auto;
    height: 100px;
  }
}

// rainbow style sources
// https://codepen.io/nohoid/pen/kIfto
// https://css-tricks.com/snippets/css/css-repeating-gradients/
@-webkit-keyframes rainbow {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}
@keyframes rainbow { 
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}

.wedding-cta-btn {
  letter-spacing: 2px;
  padding: 0.75rem 1.5rem;
  background: linear-gradient(125deg, indigo, blue, green, orange, red);
  background-size: 1800% 1800%;
  -webkit-animation: rainbow 90s ease infinite;
  -z-animation: rainbow 90s ease infinite;
  -o-animation: rainbow 90s ease infinite;
  animation: rainbow 90s ease infinite;
  border: none;
  // background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
}

.wedding-required {
  color: theme-color("primary");
}
